/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  /* --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: rgb(83, 89, 69); */
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
  --primaryColor: #2a7e90;
  --secondaryColor: #165120;
  --tertiaryColor: #031138;
  --quaternaryColor: #013c40;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  /* background: var(--rainbow); */
  border-radius: 4%;
}

.circle {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  background: var(--primaryColor);
  border-radius: 50%;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, .5), 0 0 0 4rem rgba(0, 0, 0, .5);
}

.dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 5rem solid #000;
  animation: animate 5s linear infinite;
}

.dots::before {
  content: '';
  position: absolute;
  top: -5rem;
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--rainbow);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5), 20rem 0 0 var(--secondaryColor), -20rem 0 0 var(--secondaryColor), 20rem -15rem 0 var(--secondaryColor), 0 -10rem 0 var(--secondaryColor);
  animation: animate 5s linear infinite;
}

.dots::after {
  content: '';
  position: absolute;
  bottom: -5rem;
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--rainbow);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5), -20rem 0 0 var(--secondaryColor), -20rem 0 0 var(--secondaryColor), -20rem 15rem 0 var(--secondaryColor), 0 -10rem 0 var(--secondaryColor);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}